# ----------------------------------------
# Dependencies
node_modules/

# ----------------------------------------
# Expo / React Native
.expo/
dist/
web-build/
.expo-shared/
*.expo.*
app-example
*.orig.*
*.tsbuildinfo

# ----------------------------------------
# Build / Logs / Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# ----------------------------------------
# OS / Editor
.DS_Store
.vscode/

# ----------------------------------------
# Sensitive keys and provisioning
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# ----------------------------------------
# Environment files
.env
.env*.local
